gradeProdutos{
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr 60px;
    margin-top: 2%;
}

.produtos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 10px;
    column-gap: 10px;
    margin: 50px;
}

.card-produtos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    text-align: justify;
    border: 15px solid transparent;
}

.card-produtos:hover{
    cursor: pointer;
    box-shadow: 2px 2px 11px 2px #5d1917;
    /* border-radius: 5px; */
}

.img-card{
    width: 100%;
    border-radius: 5px;
}

.preco{
    text-align: end;

}
.veg{
    color: green;
}

.botao{
    padding: 8px;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    color: #5d1917;
    font-size: 17px;
    font-weight: bold;
    border: 1px solid #5d1917;
}
.botao:hover{
    background: #5d1917;
    color: #fff;
    cursor: pointer;
}
footer{
    text-align: center;
    flex-grow: 0;
    height: 45px;
    grid-column: 1/-1;
}
footer p{
    padding: 1%;
    font-weight: 600;
}
