.banner{
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    background-image: url(img/banner.jpg);
    margin-top: 60px;
}

.fundoBanner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;

    background: rgb(247,247,250);
    background: linear-gradient(
90deg, rgba(247,247,250,0) 0%, rgba(237,237,244,0.5) 33%, rgba(253,255,255,1) 100%);
}

.botoesBanner{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fundoBanner a button{
    width: 150px;
    padding: 4%;
    background-color: transparent;
    border: 1px solid;
    cursor: pointer;
}

.destaques{
    height: 35vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 3%;
}

.categoria{
    /*width: 20%;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categoria p{
    margin-top: 2%;
}

.circulo{
    width: 100px;
    border: none;
    border-radius: 50%;
    height: 100px;
    background-size: cover;
}

.painel{
    width: 50%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 3%;
    border-radius: 5%;
}

.fundoCard{
    border-radius: 4%;
    height: 100%;
    padding-left: 3%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;

    background: linear-gradient(
90deg, rgba(247,247,250,1) 0%, rgba(237,237,244,1) 35%, rgba(253,255,255,0) 100%);
}

.fundoCard p{
    font-size: 3em;
    color: #5d1917;
}

.fundoCard button{
    padding: 8px;
    width: 39%;
    background-color: #5D1916;
    border-radius: 5px;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    border: 1px solid #5d1917;
}
.fundoCard button:hover{
    cursor: pointer;
}

#vegano{
    background-image: url(img/vegan.jpg);
}

#vegetariano{
    background-image: url(img/vegie.jpg);

}

#catMercado{
    background-image: url(img/mercado.jpg);
    background-position-y: -120px;
}

#lowCarb{
    background-image: url(img/lowCarb.jpg);
}

#Buteco{
    background-image: url(img/boteco.jpg);
}

#bebidas{
    background-image: url(img/bebidas.jpg);
}

#FastFood, #congelados{
    background-image: url(img/fastfood.jpg);
    background-position-y: -131px;
}

/*estilopagina 1*/

.destaquesVegetariano, .destaquesBoteco, .destaquesFastFood, .destaquesMercado, .destaquesBebidas, .destaquesLowCarb{
    display: none;
}
.card-produtos{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
    border: 15px solid transparent;
}

.img-card{
    width: 100%;
    border-radius: 5px;
}

.preco{
    text-align: end;

}
.veg{
    color: green;
}

.botao{
    padding: 10px;
    width: 100%;
    background: #ff7b26;
    border-radius: 5px;
}
.botao:hover{
    background: #9c4003;
    cursor: pointer;
}

/*fim*/

input[type="checkbox"]{
   display: none;
}

#catVegano:checked + .destaquesVeganos, #catVegetariano:checked + .destaquesVegetariano, #catMercado:checked + .destaquesMercado, #catBoteco:checked + .destaquesBoteco, #catFastFood:checked + .destaquesFastFood, #catBebidas:checked + .destaqueBebidas, #catLowCarb:checked + destaquesLowCarb{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.destaquesVeganos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}